<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body bg-dark p-4 text-white rounded-0">
        <h2>update a Task!</h2>
        <form action="/edit/{{task._id}}" method="post">
          <div class="mb-3">
            <label for="title">title:</label>
            <input
              type="text"
              name="title"
              placeholder="title"
              id="title"
              value="{{task.title}}"
              class="form-control rounded-0 bg-dark text-white"
            />
          </div>
          <div class="mb-3">
            <label for="description">Description</label>
            <textarea
              name="description"
              id="description"
              rows="3"
              placeholder="Description"
              class="form-control rounded-0 bg-dark text-white"
            >{{task.description}}</textarea>
          </div>
          <button type="submit" class="btn btn-info">update</button>
        </form>

      </div>
    </div>
  </div>
</div>